/* Extras */

*{
    padding: 0;
    margin: 0;
    font-family: Poppins;
}

html{
    height: 100%;
}

body{
    height: 100%;
}

/* Sidebar */

#logout{
    display: flex;
    margin-left: 30px;
    margin-top: 30px;
}

button{
    border: none;
    cursor: pointer;
    font-size: 16px;
    color: #474747;
    background-color: #FFFFFF;
}

#iarazinha {
    width: 130px;
}

#imagem{
    text-align: center;
    margin-top: 35px;
    margin-bottom: 35px;
}

main{
    display: flex;
    height: 100%;
}

#sidebar{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    min-width: 250px;
}

.topicos{
    margin-left: 30px;
    font-size: 17px;
}

#sidebar hr{
    margin: auto;
    margin-top: 10px;
    margin-bottom: 25px;
    width: 70%;
    background-color: #C4C4C4;
    opacity: 0.5;
}

a{
    text-decoration: none;
    color: #474747;
}

ul{
    list-style: none;
    margin: auto;
}

li{
    padding: 20px;
    margin-left: 10px;
}

.active{
    color: #383F91;
}

.active a{
    color: #383F91;
}

/* Tela principal */

#fundo_tela{
    background-color: #F8F8F8;
    align-content: center;
    width: 100%;
}

#topo{
    display: flex;
    justify-content: space-between;
    width: 95%;
    height: 10%;
    margin: auto;
    align-self: auto;
}

#tela_principal{
    width: 95%;
    border-radius: 20px;
    margin: auto;
    background-color: #FFFFFF;
    text-align: center;
    align-content: center;
    height: 80%;
}

h2{
    color: #2B3078;
}

p{
    color: #2B3078;
}

#titulo{
    font-size: 80px;
    padding: 5px;
}

#subtitulo{
    font-size: 27px;
    padding: 20px;
}

.texto{
    font-size: 17px;
    padding: 20px;
}

#tela_principal hr{
    margin: auto;
    margin-top: 40px;
    margin-bottom: 40px;
    width: 60%;
    height: 1.5px;
    background-color: #000000;
}

#slogan{
    display: flex;
    justify-content: space-around;
    width: 40%;
    margin: auto;
    align-items: center;
}

#frase{
    font-size: 24px;
}