* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

.btn-sair {
    position: absolute;
    top: 20px;
    left: 20px;
    background-color: #2E3B84;
    color: white;
    padding: 10px 16px;
    border-radius: 8px;
    font-size: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    z-index: 10;
    transition: background-color 0.3s;
    width: 120px;
}

.btn-sair:hover {
    background-color: #1f285e;
}

body {
    background-color: #E7EBF2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}


.bg-particles {
    position: absolute;
    top: 0;
    left: 0;
    width: 75%;
    height: 100%;
    object-fit: cover;
    z-index: 0;
    pointer-events: none;
}


.login-container {
    display: flex;
    width: 80%;
    max-width: 1500px;
    position: relative;
    z-index: 1;
}


.left-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.mascote {
    width: 70%;
    max-width: 350px;
}


.right-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.login-box {
    background: white;
    padding: 40px;
    border-radius: 12px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0px 6px 12px rgba(0,0,0,0.1);
    text-align: center;
    z-index: 0;
}

.logo {
    width: 120px;
    margin-bottom: 15px;
}

.login-box h2 {
    margin-bottom: 20px;
    font-size: 1.4rem;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
    text-align: left;
}

input,
select {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    margin-bottom: 15px;
    font-size: 1rem;
}

input[type="date"] {
    position: relative;
    color: #000;
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background: white;
    font-family: inherit;
}

input[type="date"].empty:before {
    content: attr(data-placeholder);
    color: #999;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    pointer-events: none;
    background: white;
    padding: 0 5px;
}

input[type="date"]:focus:before {
    display: none;
}

button {
    background: #2E3B84;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: 0.3s;
}

button:hover {
    background: #1f285e;
}


.mascote {
    width: 70%;
    max-width: 350px;
    animation: float 3s ease-in-out infinite;
}

#divisao{
    display: flex;
}

#coluna1{
    display: flex;
    flex-direction: column;
}

#coluna2{
    display: flex;
    flex-direction: column;
    margin-left: 20px;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-20px);
    }
    100% {
        transform: translateY(0);
    }
}


/* Responsividade */
@media (max-width: 768px) {
    .login-container {
        flex-direction: column;
        align-items: center;
    }
    .left-side {
        margin-bottom: 20px;
    }

    .btn-sair {
        top: 12px;
        left: 12px;
        padding: 8px 12px;
        font-size: 0.85rem;
        gap: 6px;
    }
}