* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background-color: #E7EBF2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

img {
    width: 400px;
}

#error-container {
    display: flex;
    width: 80%;
    max-width: 1000px;
    position: relative;
}

#left-side {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

#mascote {
    width: 70%;
    max-width: 350px;
}

#right-side {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
}


h1,
p {
    font-size: xx-large;
}

/* IARINHA ANIMATION */
/* Animação da mascote */
#mascote {
    width: 70%;
    max-width: 350px;
    animation: float 3s ease-in-out infinite;
}

@keyframes float {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
        /* sobe */
    }

    100% {
        transform: translateY(0);
        /* volta */
    }
}


/* Responsividade */
@media (max-width: 768px) {
    #error-container {
        flex-direction: column;
        align-items: center;
    }

    #left-side {
        margin-bottom: 20px;
    }
}